// Rod Tatham, Sereno :: 2019-11-21 - styles from ben

.srn-full-width {
  margin-left: -30px;
  margin-right: -30px;
}

.srn-no-padding {
  padding: 0px;
}

.srn-home-background { // traps the main content area so we can apply white background
  background: $srn-white;
}

.srn-homeless-background { // traps the main content area so we can apply background
  //background: #CDEEFB;
}

// puts a grey background, stretched across 100%, otherwise we get white on left & right of div
.srn-colour-in-background {
  width: 100%;
  background-color: $gray;
}

.srn-shout {
  font-size: 115%;
  font-weight: bold;
}

.srn-small {
  font-size: 76%;
}

body {
  //background: #CDEEFB;
  background: $srn-white;

  font-family: 'Lato', sans-serif;
  color: $srn-text;
  font-size: 16px;

  &.home {
    background: $srn-white;
  }
}


.form-control {
  color: $gray-darker;
}

.nav-tabs {
  li.active {
    a {
      color: $brand-success;
      cursor: pointer !important;
    }
  }
}

//.mm-page, .mm-wrapper_background body {
//  background: $srn-white;
//}
//
//.main-container {
//  background: $srn-white;
//}

h1, h2, h3 {
  margin-top: 36px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}

h2, .h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 26px;
  line-height: 1.2em;
}

h4, h5, h6 {
  margin-top: 30px;
  font-weight: 400;
  line-height: 1.4;
}

p {
  margin-bottom: 15px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.mt-auto {
  margin-top: auto;
}

.flexWrap {
  flex-wrap: wrap;
}

/* masthead styles */

.masthead, .mainMenu {
  background-color: $gray;
}

.masthead {
  padding: 25px 0 20px 0;

  .site-logo {
    margin-left: 10px;
  }
}

.upper-deck-starboard {
  #block-secondarynavigation { // allow this nav to have the following social icons side by side
    float: left;
  }

  li {
    padding-right: 0;
    padding-left: 20px;
    font-size: 1.1em;
    display: inline-block;

    a {
      color: #7A8086;

      &:hover {
        color: #0E4194;
        text-decoration: none;
      }
    }

    &.social a {
      img {
        opacity: .5;
        margin-left: 8px;
        margin-top: -3px;
      }

      &:hover img {
        opacity: 1;
      }
    }
  }

  .input-group {
    padding: 20px 30px;
    .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $gray-dark;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-weight: 300;
      font-size: 1.4em;
    }

    .btn {
      padding: 0;
      font-size: 30px;
      border: none;
      border-radius: 0;
      color: #909CA8;
      background-color: transparent;

      &:hover {
        color: #00B1EB;
      }
    }
  }
}

// NAVBAR
#navbar {
  border: 0px;
  margin-bottom: 0;
  border-radius: 0px;
  background-color: $gray;
  max-width: 1170px;

  ul.menu {
    display: flex;
    justify-content: space-between;
    float: none;

    li {
      margin-right: 18px;
      width: 145px;

      .caret {
        display: none;
      }

      a {
        border-top: 3px solid #00B1EB;
        padding: 10px 3px;
        font-size: 1em;

        color: #333;

        i {
          color: #00B1EB;
        }

        &:hover {
          color: #3F2683;
          border-top: 3px solid #3F2683;
          background-color: #fff;
        }
      }

      a.dropdown-toggle {

        &::after { // this is the caret replacement
          display: inline-block;
          width: .5em;
          height: .5em;
          float: right;
          margin: .3em .1em 0 0em;
          vertical-align: middle;
          content: "";
          border: .3em solid $gray-dark;
          border-width: 0 .15em .15em 0;
          transform: rotateZ(45deg);
        }

        &:hover::after {
          border: .3em solid #3F2683;
          border-width: 0 .15em .15em 0;
        }
      }

      .dropdown-menu {
        li {
          a {
            border-top: 0;
            border-bottom: 1px solid #CBD0D3;
            padding: 9px 20px 9px 5px;
            color: #37393C;
          }
        }
        li.last {
          a {
            border-bottom: 0px; // don't have grey line under last link in dropdown
          }
        }
      }
    }
  }
}

// REGION CONTAINING BREADCRUMB AND PAGE HEADER. NOT SHOWN ON LANDING PAGES
.region-header {
  margin-bottom: 15px;
  border-top: 2px solid lighten(#00B1EB, 33%);
  border-bottom: lighten($gray-light, 33%) 1px solid;
  background-color: #CDEEFB;

  // Breadcrumb
  .breadcrumb {
    margin-top: 5px;
    background-color: #CDEEFB;
  }

  h1 {
    border-bottom: 0;
    margin-left: 25px;
  }
}

// not to be applied on landing pages
body.page-node-type-landing-page {
  .region-header {
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
    background-color: transparent;
  }
}

/* MAIN CONTENT AREA */

.region-content {
  .content {
    ul {
      list-style-type: '- ';
      list-style-position: outside;

      li {
        padding-left: 6px;
        margin-bottom: 12px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

// individual cType styling
.page-node-type-resource {
  .field--name-field-theme,
  .field--name-field-resource-type,
  .field--name-field-published-date {
    margin-top: 24px !important;
  }
  .field--name-field-resource-authorship {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
}

.page-node-type-programme-event {
  .btn-primary {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    float: left;
  }

  .show-register-link {
    background-color: #c93482;
    border-color: #c93482;
    &:hover {
      background-color: lighten(#c93482, 10%);
    }
  }

  .eventbrite {
    background-color: #378f36;
    border-color: #378f36;
    &:hover {
      background-color: lighten(#378f36, 10%);
    }
  }

  .field--name-field-event-label {
    clear: both;
  }

  .field--name-field-text-block {
    margin-top: 30px !important;
  }
}

// individual pages
.srn-section-whats-on {
  #views-bootstrap-what-s-on-page-1 {
    .btn-primary {
      margin-top: 4px;
      margin-bottom: 4px;
      margin-right: 4px;
      float: left;
    }

    .show-register-link {
      background-color: #c93482;
      border-color: #c93482;
      &:hover {
        background-color: lighten(#c93482, 10%);
      }
    }

    .eventbrite {
      background-color: #378f36;
      border-color: #378f36;
      &:hover {
        background-color: lighten(#378f36, 10%);
      }
    }

    .field--name-field-event-label {
      clear: both;
    }
  }
}


/* SIDEBAR */
.region-sidebar-second {

  margin-top: -30px; // push the first block up so it's level with content area

  // all blocks & views in the sidebar
  // - defaults to purple colour, but other colour options follow
  .block, .views-element-container {
    border-bottom-right-radius: 25px;

    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $gray;

    li {
      display: block;

      &:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e072";
        font-family: 'Glyphicons Halflings';
        font-size: 10px;
        color: lighten($brand-success, 20%);
        float: left;
        top: 2px;
        margin-top: 4px;
        margin-left: -17px;
      }
    }

    h2 {
      background: $brand-success;
      color: $srn-white;
      margin: 0;
      padding: 10px 10px 5px 15px;
    }

    .field, .view {
      padding: 10px 10px 15px 15px;

      .btn {
        background-color: $brand-primary;
        border-color: darken($brand-primary, 20%);

        .glyphicon {
          top: 2px;
        }

        &:hover {
          background-color: darken($brand-primary, 20%);
        }
      }
    }
  }

  // individual sidebar block/view styling - other than purple
  .orange {
    h2 {
      background: $brand-info;
    }

    .field {
      .btn {
        background-color: $brand-info;
        border-color: darken($brand-info, 10%);

        &:hover {
          background-color: darken($brand-info, 20%);
        }
      }
    }
  }

  .turquoise {
    h2 {
      background: $brand-warning;
    }

    .field {
      .btn {
        background-color: $brand-warning;
        border-color: darken($brand-warning, 20%);

        &:hover {
          background-color: darken($brand-warning, 20%);
        }
      }
    }
  }

  .pink {
    h2 {
      background: $brand-success;
    }

    .field {
      .btn {
        background-color: $brand-success;
        border-color: darken($brand-success, 20%);

        &:hover {
          background-color: darken($brand-success, 20%);
        }
      }
    }
  }

  // related content block
  .block-views-blocknode-content-for-sidebar-block-related-content {
    //margin-top: 30px;
    //margin-bottom: 40px;
    //border-bottom-right-radius: 25px;

    //h2 {
    //  background: $brand-success;
    //  color: $srn-white;
    //  margin: 0;
    //  padding: 10px 10px 5px 15px;
    //}
  }

  // our services' list
  #block-views-block-service-type-taxonomy-block-service-types-listing {
    h3 {
      margin-bottom: 0px;
      font-size: 20px;
    }

    aside {
      padding-left: 8px;
      font-size: 14px;

      .glyphicon {
        font-size: 10px;
        color: lighten($brand-success, 20%);
      }
    }
  }
  article.testimonial {

    p {
      background-image: url("../images/speechmarks-grey.png");
      background-repeat: no-repeat;
      //background-position: top left 30px;
      padding-top: 33px;
    }

    h2 {
      //border-left: 2px $gray-light solid;
      padding-top: 0;
      padding-bottom: 18px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $gray-darker;
      background-color: #ebeded;
      //border-bottom: 1px solid $gray-darker;
    }
  }
}


/* FOOTER */
footer {
  background-color: #7A8086;

  h4 {
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 20px;
  }

  p, li {
    color: #fff;
    font-size: .9em;
    margin-bottom: 6px;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #FFDD00;
      text-decoration: underline;
    }
  }

  .footer-social {
    padding-bottom: 30px;

    a {
      img {
        width: 30px;
        opacity: .8;
        margin-left: 3px;
        margin-right: 3px;
      }

      &:hover img {
        opacity: 1;
      }
    }
  }
}

.footer-later {
  section {
    padding-bottom: 24px;

    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
      border-top: 4px solid #fff;
      padding-top: 18px;
      padding-bottom: 12px;

      color: $srn-white;
      font-size: 1.4em;
    }

    img {
      margin: 10px 0 15px 0;
    }
  }
}


/*  Homepage styles */
.jumboText {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0px !important;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  > .container > .row {
    width: 100%;
  }
  h1 {
    font-size: 1.8em;
    color: #fff;
  }

  .heroPhone {
    font-size: 2.5em;
    margin-bottom: 0;
  }

  p {
    font-size: 1em;
    color: #fff;

    a {
      text-decoration: underline;
      color: #fff;
      font-size: .8em;
    }
  }

  .button-black {
    color: #fff;
    border-top: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 20px;

    &:hover {
      color: #fff;
      background-color: #378F36;
    }
  }
}

/* Dropdown List */

.jumboList .btn-default {
  border: none;
  border-radius: 0;
  color: #5D656E;
  background-color: #fff;
}

.btn-default {
  &.active, &:active {
    color: #00B1EB;
    background-color: #fff;
  }
}

.open > .dropdown-toggle.btn-default {
  color: #00B1EB;
  background-color: #fff;
}

.jumboList {
  i {
    padding-left: 30px;
    font-size: 1.2em;
    color: #CBD0D3;
  }

  .dropdown-menu {
    padding: 10px 0;
    margin: 0;
    border-radius: 0;

    li a {
      display: block;
      padding: 6px 30px 6px 15px;
      color: #393B4B;
      background-color: #fff;
      text-decoration: none;

      &:hover {
        color: #00B1EB;
        text-decoration: none;
        background-color: #fff;
      }
    }
  }
}

.field--name-field-page-intro {
  color: #7A8086;
  padding: 0 20px 25px 20px;
  font-size: 32px;
  line-height: 1.4em;
}

.CTAholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CTAbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.CTALink {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #EBEDED;
}

.CTAboxInner {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 15px 20px 20px 20px;
  align-items: left;
  border-top: 3px solid #A6ADB4;
}

.CTAbox {
  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    line-height: 1em;
    color: #37393C;
  }

  h5 {
    font-size: .8em;
    margin: 0 0 7px 0;
    color: #00B1EB;
  }

  &.latestNews h3 {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}

.CTALink:hover {
  background-color: #90D9F7;
  text-decoration: none;

  img {
    opacity: .3;
  }

  .CTAboxInner {
    border-top: 3px solid #0E4194;
  }

  h3 {
    color: #0E4194;
  }

  h5 {
    color: #fff;
  }
}

.promoRow {
  padding: 40px 0;
  width: 100%;

  h2 {
    font-size: 1.6em;
    font-weight: 700;
  }

  p {
    font-size: 1.1em;
  }
}


.promoRow.promoBlue {
  h2, p {
    color: #fff;
  }
}


.promoGrey {
  border-top: 6px solid #00B1EB;
  background-color: #EBEDED;
}

.promoBlue {
  border-top: 6px solid #00B1EB;
  background-color: #0E4194;
}

.promoCyan {
  border-top: 6px solid #fff;
  background-color: #59C6F2;
}

.promoRowButtons .btn {
  margin-top: 15px;

  i {
    float: right;
    margin-top: 4px;
  }

  width: 100%;
}

.promoButtonRight {
  text-align: right;
}

.promoButtonLeft .btn i, .promoButtonRight .btn i {
  padding-left: 30px;
}

.promoRow.baseHire {
  padding: 50px 0 20px 0;
}

.button-white, .button-blue, .button-black {
  border: none;
  text-align: left;
  font-size: 1em;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 0;
  font-weight: 400;
  background-color: transparent;
  transition: color 0.5s, border-top 0.5s, background-color 0.5s;
}

.button-white {
  color: #fff;
  border-top: 3px solid #fff;

  &:hover {
    color: #00B1EB;
    border-top: 3px solid #00B1EB;
  }
}

.button-blue {
  color: #333;
  border-top: 3px solid #00B1EB;

  i {
    color: #00B1EB;
  }

  &:hover {
    color: #3F2683;
    border-top: 3px solid #3F2683;
    background-color: #fff;
  }
}

// THIS YEAR'S CONFERENCE SERIES
#block-thisyearsconferenceseries { // over-rule the bootstrap margins - right and left
  margin-right: -30px;
  margin-left: -30px;
}

// VISITING AND SUPPORTING ORGANISATIONS
//#block-venuehire-2 {
//  margin-right: -30px;
//  margin-left: -30px;
//}

.pre-footer-stripe {
  background: $srn-white;

  #block-views-block-visiting-organisations-and-partners-block-1,
  #block-thisyearsconferenceseries-2
  {
    padding-top: 20px;
    margin-top: 40px;

    h2 {
      color: #7A8086;
      font-size: 1.4em;
      text-align: center;
    }

    .row {
      display: flex;

      .col {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}


/*  Hire page */
.srn-not-home {
  .introduction h2 {
    color: #333;
  }

  .CTALink {
    background-color: #0E4194;
  }

  .CTAboxInner {
    border-top: 3px solid #fff;
  }

  .CTAbox {
    h3 {
      color: #fff;
    }

    h5 {
      color: #00B1EB;
    }
  }

  .CTALink:hover {
    background-color: #378F36;

    .CTAboxInner {
      border-top: 3px solid #fff;
    }

    h3 {
      color: #fff;
    }
  }
}

.paragraph--bp-accordion-container { // FAQs and the like
  margin-bottom: 40px;

  h3 {
    margin-left: 15px;
  }

  button {
    margin-right: 15px;
  }

  .panel-group .panel {
    + .panel {
      margin-top: 10px;
    }

    border-radius: 0;
    border: none;
  }

  .panel-default {
    border: 0;

    .panel-heading {
      border: 0;
      padding: 10px 0;
      background-color: transparent !important;

      a {
        padding: 14px 15px;
        font-family: 'Lato', sans-serif;
        font-size: 1.3em;
        font-weight: 300;

        &::after {
          display: none;
        }
      }


    }
  }

  .panel-title {
    a {
      border-top: 5px solid #AFD2AF;
      padding: 14px 15px;
      display: block;
      background-color: #378F36;
      text-decoration: none;
      color: #fff;
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-image: url("/sites/default/files/static/accordion/plus.png");

      &[aria-expanded="true"]{
        background-color: #0E4194;
        border-top: 5px solid #59C6F2;
        background-image: url("/sites/default/files/static/accordion/minus.png");

        &:hover {
          border-top: 5px solid #AFD2AF;
          background-color: #378F36;
        }
      }

      &.collapsed {
        background-image: url("/sites/default/files/static/accordion/plus.png");
      }

      &:hover {
        background-color: #0E4194;
        border-top: 5px solid #59C6F2;
      }


    }

  }

  .panel-body {
    padding: 2em 8em 2em 2em;
    font-size: 1em;
    line-height: 1.5em;
  }
}


.baseHire {
  .CTALink, .CTAboxInner {
    background-color: #fff;
  }

  .CTAbox h3 {
    border-bottom: 1px solid #777;
    color: #37393C;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .CTALink {
    h3 {
      border-bottom: none;
      margin-bottom: 0;
    }

    .CTAboxInner {
      padding-bottom: 0;
    }
  }

  .CTAbox p {
    font-size: 1em;
  }

  .CTALink:hover {
    background-color: #90D9F7;

    .CTAboxInner {
      border-top: 3px solid #0E4194;
    }

    h3 {
      color: #0E4194;
    }

    h5 {
      color: #00B1EB;
    }
  }
}

.hireSection footer {
  margin-top: 0;
  border-top: 6px solid #fff;
}

@media (max-width: 767px) {
  .d-flex {
    display: block;
  }

  .masthead {
    .navbar-form {
      display: none;
    }

    padding: 20px 20px 5px 20px;

    .col-sm-8, .col-sm-4 {
      text-align: center;
    }
  }

  /* Hide search block 2 on desktop */

  .masthead {
    .site-logo {
      width: 260px;
      margin-left: 0;
    }
  }

  .masthead .upper-deck-starboard {
    padding: 10px 0 0 0;
    border-top: 1px solid #00B1EB;
    margin-top: 20px;

    li {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 1em;

      &.social {
        margin-top: 10px;

        a img {
          margin: 0 5px;
        }
      }
    }
  }

  .navbar {
    background-color: #00B1EB;
    margin-bottom: 0;
  }

  .navbar-header {
    padding-left: 15px;

    .navbar-form {
      width: 230px;
      float: left;
      padding: 8px 0;
      margin: 0;

      .form-group {
        display: inline-block;
        width: 175px;
      }
    }
  }

  .navbar-toggle {
    background-color: #fff;
    margin-top: 10px;

    .icon-bar {
      background-color: #00B1EB;
    }
  }

  .navbar-header .navbar-form {
    .form-control {
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1em;

      &::placeholder {
        color: #C7EDFA;
      }
    }

    .btn {
      color: #fff;
      font-size: 24px;
    }

    .upper-deck-starboard .btn:hover {
      color: #000;
    }
  }

  .navbar-nav > li > a {
    color: #fff;
  }

  .nav {
    > li > a {
      &:focus, &:hover {
        background-color: transparent;
      }
    }

    .open > a {
      background-color: transparent;

      &:focus, &:hover {
        background-color: transparent;
      }
    }
  }

  .dropdown-menu > li > a {
    &:focus, &:hover {
      background-color: transparent;
    }

    color: #fff;
  }

  .jumbotron > .container > .row {
    margin-left: 0;
    margin-right: 0;
  }

  .jumbotron {
    .heroPhone {
      font-size: 1.5em;
    }

    .button-black {
      width: 80%;
      margin-top: 10px;
    }
  }

  .faqs .panel-body {
    padding: 1em;
  }

  .baseHire .CTAbox {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .masthead .navbar-form {
    padding: 5px 0;
    margin-top: 10px;
  }

  .navbar-header .navbar-form {
    display: none;
  }

  /* Hide search block 1 on mobile */

  .mainMenu .navbar {
    margin-bottom: 0;
    border: none;
    min-height: 35px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav {
      display: flex;
      justify-content: space-between;
      float: none;
    }

    .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }

    .navbar-nav > li {
      width: 98px;
      display: inline-flex;
      float: none;

      > a {
        color: #393B4B;
        border-top: 3px solid #00B1EB;
        text-decoration: none;
        display: block;
        padding: 6px 1px;
        width: 100%;
        font-size: .7em;

        &:hover {
          background-color: $gray;
          color: #0E4194;
          border-top: 3px solid #0E4194;
          text-decoration: none;
        }
      }

      .caret {
        display: none;
      }
    }
  }

  .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    padding: 5px 10px;
    min-width: 240px;
    border: 1px solid #0E4194;
  }

  .mainMenu {
    .dropdown-menu {
      > li > a {
        padding: 9px 20px 9px 5px;
        color: #37393C;
        border-bottom: 1px solid #CBD0D3;
      }

      li:last-child a {
        border-bottom: none;
      }

      > li > a:hover {
        background-color: transparent;
        color: #0E4194;
      }
    }

    .navbar .navbar-nav > li .dropdown-toggle {
      &::after {
        border: .3em solid #A6ADB4;
        border-width: 0 .15em .15em 0;
      }

      &:hover::after {
        border: .3em solid #0E4194;
        border-width: 0 .15em .15em 0;
      }
    }
  }

  .jumbotron {
    min-height: 450px;
  }

  .jumboText {
    padding: 15px 20px;
  }

  .jumbotron {
    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.3em;
    }
  }

  .introduction h2 {
    padding: 0 35px 30px 35px;
    font-size: 1.3em;
  }

  .promoRowImageLeft {
    padding-right: 15px;
  }

  .promoRowImageRight {
    padding-left: 15px;
  }

  .promoGrey .promoRowButtons .btn {
    width: 27%;
  }

  .promoBlue .promoRowButtons .btn {
    width: 45%;
  }

  .promoRowButtons .btn {
    margin-right: 10px;
    padding: 8px 3px;
    font-size: .8em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .masthead {
    padding: 25px 0 10px 0;
  }

  .masthead {
    .site-logo {
      width: 230px;
    }
  }

  .masthead .upper-deck-starboard li {
    padding-left: 15px;
    font-size: 1em;
  }

  .navbar-nav > li > .dropdown-menu {
    min-width: 200px;
    font-size: 11px;
  }

  .masthead {
    .form-control {
      font-size: 1.2em;
    }

    .upper-deck-starboard .btn {
      font-size: 24px;
    }
  }

  .navbar-header .navbar-form .btn {
    font-size: 24px;
  }

  .footerBlocksHolder {
    display: flex;
    flex-wrap: wrap;
  }

  /* Adds flex just at this breakpoint to give equal height to footer blocks when they stack */
}

@media (min-width: 992px) {
  .masthead .navbar-form {
    padding: 10px 0;
    margin-top: 25px;
  }

  .mainMenu .navbar {
    min-height: 39px;

    .navbar-nav > li {
      width: 125px;

      > a {
        padding: 8px 2px;
        font-size: .9em;
      }
    }
  }

  .jumbotron {
    min-height: 500px;
  }

  .jumboText {
    padding: 20px 25px;
  }

  .jumbotron {
    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 1.4em;
    }
  }

  .introduction h2 {
    padding: 0 55px 30px 55px;
    font-size: 1.7em;
  }

  .CTAboxInner {
    padding: 15px 30px 30px 30px;
  }

  .CTAbox h3 {
    font-size: 1.7em;
  }

  .promoRowImageLeft {
    padding-right: 25px;
  }

  .promoRowImageRight {
    padding-left: 25px;
  }

  .promoRow {
    h2 {
      font-size: 1.8em;
    }

    p {
      font-size: 1.3em;
    }
  }

  .promoRowButtons .btn {
    margin-right: 20px;
    padding: 8px 6px;
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .mainMenu .navbar {
    min-height: 43px;

    .navbar-nav > li {
      width: 145px;

      > a {
        padding: 10px 3px;
        font-size: 1em;
      }
    }
  }

  .jumbotron {
    min-height: 550px;
  }

  .jumboText {
    padding: 25px 30px;
  }

  .jumbotron {
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1.5em;
      padding-right: 70px;
    }
  }

  .introduction h2 {
    padding: 0 75px 30px 75px;
    font-size: 2em;
  }

  .promoRowImageLeft {
    padding-right: 40px;
  }

  .promoRowImageRight {
    padding-left: 40px;
  }

  .promoRow {
    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.4em;
    }
  }

  .promoRowButtons .btn {
    margin-right: 25px;
    padding: 8px 10px;
  }
}